body {
    /*background-color: #be99f0;*/
    font-family: 'Roboto', sans-serif;
    background: url('https://img.lovepik.com/photo/45016/1217.jpg_wh860.jpg');
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    height: 100%;
    margin: 0;
    object-fit:cover;
}

form {
    /*background: white;*/
    background: url('https://i.pinimg.com/736x/19/a1/96/19a196ebe2bb58b1ee705ad68f657602.jpg') no-repeat center center fixed;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    object-fit: cover;
}


h2 {
    color: white;
}

label {
    font-weight: bold;
}

asp\:TextBox {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

asp\:Button {
/*    background-color: #007bff;*/
    background-color : red;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

    asp\:Button:hover {
        background-color: #0056b3;
    }

asp\:Label {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    display: block;
    margin-top: 10px;
}

#BtnSuma {
    background-color: green;
    color: white;
}

#BtnResta {
    background-color: #DDA0DD;
    color: white;
}

#BtnMulti {
    background-color: #7FFFD4;
    color: white;
}

#BtnDivi {
    background-color: #FF7F50;
    color: white; 
}
